body{
    max-width: 100%;
    margin: auto;
}
nav{
    background-color: black;
}

.iconCode{
    float: left;
    transform: translate(8px, 5px);
    align-items: center;
}

ul{
    display: block;
    color: white;
    list-style-type: none;
    width: fit-content;
    margin-left: auto;
    line-height: 45px;
    padding-right: 15px;
    margin-bottom: 0;
    margin-top: 0%;
    
}

li{
    display: inline-block;
    padding-left: 10px;
}

header{
    background-image: url(./image/paisagem.jpg);
    background-size: cover;
    overflow: hidden;
    height: 500px;
    background-attachment: fixed;
    font-family:Arial, Helvetica, sans-serif;
}

h1{
    color: white;
    text-align: center;
    font-size: 3em;
    padding-top: 130px;
}
h2{
    color: white;
    text-align: center;
}
.myResume{
    text-align: center;
    margin: auto;
    margin-top: 30px;
    color: white;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
}

#myResume{
    color: white;
    text-decoration: none;
    border: white solid 1px;
    padding: 5px 10px 5px 10px;
}
.icons{
    float: right;
    margin-right: 10px;
    margin-top: 140px;
}
.icon{
    border-radius: 100%;
    padding-right: 5px;
}
.aboutMe{
    color: black;
}
p{
    padding:10px;
    text-align: left;
}
.tech{
    color: black;
}
.containerTech{
    text-align: center;
}
.cardProjects{
    width: 300px;
    height: 550px;
    border: solid rgba(128, 128, 128, 0.3) 1px;
    margin:auto;
    margin-top: 30px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0,0.4);
}
.textCard{
    height: 200px;
}

.imgProjects{
    background-image: url(./image/proj1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 200px;
}
.imgProjects2{
    background-image: url(./image/churrascometro.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 200px;
}
.imgProjects3{
    background-image: url(./image/under\ construction.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 200px;
}
.button{
    font-size: 20px;
    width: 80%;
    display: block;
    color:#EC8F6A;
    border: solid #EC8F6A 1px;
    padding:10px;
    margin: auto;
    text-align: center;
    border-radius: 5px;
}
.button:hover{
    background-color: #EC8F6A;
    color: white;
}


a{
    text-decoration: none;
}
.containerContact{
    width: auto;
    text-align: center;
    background-color: #F0F0F0;
}
input{
    display: block;
    width: 100%;
}
textarea{
    width: 100%;
}
#botao{
    border-style: none;
    width: 90%;
    height: 50px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #FFF3EE;
    color: #EC8F6A;
    border-radius: 10px;
}
#botao:hover{
    background-color: #FFD8C8;
}
.contact{
    width: 70%;
    padding: 20px;
    background-color: white;
    margin: auto;
    border-radius: 5px;
}
.padContact{
    padding-bottom: 0;
    margin: 0;
}


@media screen and (max-width:380px){
    /* ul{
        display: block;
        color: white;
        list-style-type: none;
        width: fit-content;
        margin-left: auto;
        line-height: 45px;
        padding-right: 15px;
        margin-bottom: 0;
        margin-top: 0%;
        
    }
    
    li{
        display: inline-block;
        padding-left: 10px;
    } */
    ul{
        display: block;
        color: white;
        list-style-type: none;
        width: 100%;
        margin-left:unset;
        line-height: 45px;
        padding-right:unset;
        padding-left: unset;
        margin-bottom: 0;
        margin-top: 0%;
        text-align: center;
        padding:0;
    }
    li{
        display: block;
    }
}
@media screen and (min-width:400px){
    .containerAbout{
        width: 400px;
        margin:auto;
    }
    .containerTech{
        width: 400px;
        margin:auto;
    }
    .projectsContainer{
        width: 1238px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
        height: 100%;
    }
    nav{
        position: sticky;
        top: 0%;
    }
    .compac{
        max-width: 1238px;
        margin:auto;
    }
    .contact{
        width: 400px;
    }
    .pContact{
        display:inline-block;
        margin: auto;
        width: 400px;
    }
}